* {
    margin: 0;
    font-family: Arial, sans-serif;
    border: border-box;
}

.navbar{
    height: 3.75rem;
    background-color: #0f1111;
    color: white;   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo{
    height: 3.125rem;
    width: 6.875rem;
    background-image: url("amazon_logo.png");
    background-size: cover;
    margin-left: 0.75rem;
}

.border{
    margin-left: 0.5rem;
    border: 0.125rem solid transparent;
}

.border:hover{
    border: 0.09375rem solid white;
}

#add1{
    color: #cccccc;
    font-size: .85rem;
    margin-left: .9375rem;
}

#add2{
    font-size: 1rem;
    margin-left: 0.25rem;
    font-weight: 37.5rem;
}

.add-icon{
    display: flex;
}

.nav-address{
    padding-right: 0.375rem;
}

.nav-search{
    display: flex;
    height: 2.5rem;
    width: 50rem;
    /* border-radius: 5px; */
    justify-content: space-evenly;
    align-items: center;
}

.nav-search:hover{
    border: 3px solid rgb(255, 165, 0);
    border-radius: 0.3125rem;
}

#nav-search-field{
    width: 100%;
    font-size: 1rem;
    border: none;
    height: 2.5rem;
    background: white;
    display: flex;
    align-items: center;
    border: none;
    font-size: 1rem;
}

#search-box{
    font-size: 1rem;
    border: none;
    width: 100%;
    height: 2.1875rem;
}

#search-op{
    background-color: #f3f3f3;
    width: 3.125rem;
    text-align: center;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
    height: 2.5rem;
}

#search-icon{
    display: flex;
    align-items: center;
    justify-content: center;;
    background-color: #febd68;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem; 
    width: 2.5rem;
    font-size: 1.2rem;
    height: 2.5rem;
    color: #0f1111;
}

#fst-line{
    font-size: .85rem;
}

#snd-line{
    font-size: 1rem;
    font-weight: 43.75rem;
}

.nav-lang{
    font-weight: 43.75rem;
}

#flag{
    height: 1.25rem;
    background-image: url("flag.jpeg");
    background-size: cover;
}

.nav-cart i{
    font-size: 1.875rem;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 43.75rem;
    margin-right: 0.75rem;
}

.panel{
    display: flex;
    height: 2.5rem;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.panel-op a{
    display: inline;
    text-decoration: none;
    color: white;
}

.panel-all{
    padding-left: 0.5625rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 37.5rem;

}

.panel-op{
    width: 78%;
    font-size: 1rem;
}

.panel-deal {
    padding-right: 0.5625rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    font-weight: 37.5rem;
}

.panel-deal a{
    text-decoration: none;
    color: white;
}

.hero-sec{
    height: 19.375rem;
    background-image: url("hero-image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: image-change 20s steps(1) 2s infinite normal;
}

.hero-msg{
    background-color:white;
    color: black;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 97%;
    margin-top: 14.375rem;

}

.hero-msg a{
    text-decoration: none;
    color: #007185;
}

@keyframes image-change{
    0% {background-image: url("hero-image.jpg");}
    20% {background-image: url("hero-image2.jpg");}
    40% {background-image: url("hero-image3.jpg");}
    60% {background-image: url("hero-image4.jpg");}
    80% {background-image: url("hero-image5.jpg");}
}

.shop-sec{
    display: flex;
    flex-wrap: wrap;
    height: 56.25rem;
    justify-content: space-evenly;
    align-content: space-between;
    background-color: #6010c2;
    animation: color-change 20s steps(1) 2s infinite normal;
}

.box{
    border: 0.125rem solid black;
    height: 25rem;
    width: 21.875rem;
    background-color: white;
    padding-top: 1.25rem;
    padding-bottom: 0.9375rem;
    border: transparent;
    margin-bottom: 1.25rem;

}

@keyframes color-change{
    0% {background-color: #6010c2;}
    20% {background-color: #ffd505;}
    40% {background-color: #d985e6;}
    60% {background-color: #9de0a7;}
    80% {background-color: #ffd6d1;}
}

.box h2{
    color: 0f1111;
    margin-left: 0.625rem;
}

.box a{
    margin-left: 0.625rem;
    text-decoration: none;
}

#box1{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box1.jpg");
    background-size: cover;
}

#box2{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box2.jpg");
    background-size: cover;
}

#box3{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box3.jpg");
    background-size: cover;
}

#box4{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box4.jpg");
    background-size: cover;
}

#box5{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box5.jpg");
    background-size: cover;
}

#box6{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box6.jpg");
    background-size: cover;
}

#box7{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box7.jpg");
    background-size: cover;
}

#box8{
    height: 18.75rem;
    width: 20.625rem;
    margin:0.625rem 0rem 1.25rem 0.625rem;
    background-image: url("box8.jpg");
    background-size: cover;
}

.foot1{
    background-color:#37475a;
    color: white;
    height: 3.0625rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.foot1:hover{
    background-color: #42546b;
}

.foot2{
    height: 20rem;
    background-color:  #222f3d;
    display: flex;
    justify-content: space-evenly;
}

#foot2a, #foot2b, #foot2c, #foot2d{ 
    color: white;
    margin-top: 2.5rem;
}

#foot2a p, #foot2b p, #foot2c p, #foot2d p{
    font-size: 1rem;
    font-weight: 37.5rem;
    padding-left: 2.5rem;
    margin-bottom: 0.9375rem;
}

#foot2a li, #foot2b li, #foot2c li, #foot2d li{
    font-size: .85rem;
    list-style-type: none;
    margin-bottom: 0.625rem;
    color: #dddddd;
}

.foot3{
    height: 4.375rem;
    background-color: #222f3d;
    border-top: 0.1px solid gray;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#foot-logo{
    height: 2.1875rem;
    width: 5rem;
    background-image: url("foot-logo.png");
    background-size: cover;
    margin-left: 40%;
}

#country{
    color: #dddddd;
    border: .5px solid gray;
    margin-left: 0.625rem;
    padding: 0.375rem 1.125rem 0.375rem 0.5rem;
    
}

#foot-lang{
    color: #dddddd;
    border: .5px solid gray;
    margin-left: 8%;
    padding: 0.375rem 1.125rem 0.375rem 0.5rem;
}

.foot4{
    background-color: #0f1111;
    color: white;
    height: 4.6875rem;
    text-align: center;
    padding-top: 1.5625rem;
    font-size: .8rem;
}

@media(max-width: 1600px) and (min-width: 1500px)
{
    html{font-size: 16px;}
}
@media(max-width: 1500px) and (min-width: 1400px)
{
    html{font-size: 15px;}
}
@media(max-width: 1400px) and (min-width: 1300px)
{
    html{font-size: 14px;}
}
@media(max-width: 1300px) and (min-width: 1200px)
{
    html{font-size: 13px;}
}
@media(max-width: 1200px) and (min-width: 1100px)
{
    html{font-size: 12px;}
}
@media(max-width: 1100px) and (min-width: 1000px)
{
    html{font-size: 11px;}
}
@media(max-width: 1000px) and (min-width: 900px)
{
    html{font-size: 10px;}
}
@media(max-width: 900px) and (min-width: 800px)
{
    html{font-size: 9px;}
}
@media(max-width: 800px) and (min-width: 700px)
{
    html{font-size: 8px;}
}
@media(max-width: 700px) and (min-width: 600px)
{
    html{font-size: 7px;}
}
@media(max-width: 600px) and (min-width: 500px)
{
    html{font-size: 6px;}
}
@media(max-width: 500px) and (min-width: 400px)
{
    html{font-size: 5px;}
}
@media(max-width: 400px) and (min-width: 300px)
{
    html{font-size: 4px;}
}
